.boy-cool{
  /* CSS rules for elements with class "my-class */
  background-color: aquamarine;
  font-size: 24px;
  font-style: inherit;
}

#cause{
  /* CSS rules for the element with ID "my-id" */
  background-color: tomato;
  font-size: 24px;
  font-style: italic;
}
p{
  /* CSS rules for all <p> elements  */
  background-color: azure;
  font-size: 24px;
  font-style: oblique;
}
h1{
  /* CSS rules for all <h1> elements */
  background-color: blanchedalmond;
  font-size: 24px;
  font-style: italic;
}