*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body{
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg,#29ba9b,#179592);
  padding: 30px;
}
.main{
  max-height: 850px;
  width: 90%;
  height: 100%;
  /* background: #fff; */
  /* padding: 40px 30px; */
  /* box-sizing: 0 5px 10px rgba(0,0,0,0.2); */
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
  justify-content: space-between;
  align-content: center;
}
.left {
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
  url(https://images.unsplash.com/photo-1518437042148-3e377ea057df?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80);
  /* height: 100%; */
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-content: center;
  border-radius: 12px 0 0 12px;
}
.left .header{
  padding-top: 0px;
  color: #fff;
}
.right{
  background: #FBFBFB;
  padding: 55px 70px;
  border-radius: 0 12px 12px 0;
}
.cool {
  font-size: 25px;
  font-weight: 500;
  position: relative;
  text-align: center;
  padding-bottom: 20px;
}
.cool p{
  font-size: 15px;
  font-weight: lighter;
}
.box-1,.box-2,.box-3,.box-4,.box-5,.box-6 {
  padding: 11px;
  color: red;
}
.box-1 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.box-1 input{
  border-radius: 2px;
  font-size: 16px;
  line-height: 35px;
  padding: 0 20px;
  background-color: #f3f3f3a6;
  border: none;
}
.box-2 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.box-2 input{
  border-radius: 2px;
  font-size: 16px;
  line-height: 35px;
  padding: 0 20px;
  margin: 10px;
  background-color: #f3f3f3a6;
  border: none;
}
.box-3, .gender{
  /* align-content: space-between;
  justify-content: center; */
  display: inline;
}
.box-3 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.gender input{
  margin: 20px;
  padding: 0 20px;
  align-content: space-between;
}
.box-4 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.box-4 input{
  border-radius: 2px;
  font-size: 16px;
  line-height: 35px;
  padding: 0 20px;
  /* margin: 4px; */
  background-color: #f3f3f3a6;
  border: none;
}
.box-5 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.box-5 input{
  border-radius: 2px;
  font-size: 16px;
  line-height: 35px;
  padding: 0 20px;
  background-color: #f3f3f3a6;
  border: none;
}
.box-6 label{
  position: relative;
  font-size: 16px;
  right: 30px;
  color: #000;
}
.box-6 a{
  text-decoration: none;
  font-size: 16px;
  margin: 0px;
  padding: 0 8px;
}
.box-7{
  margin: 0 80px;
  padding-top: 25px;
}
.box-7 .cancel{
  padding: 9px 15px;
  text-decoration: none;
  margin-right: 24px;
  border: 2px solid #322B57;
  background-color: #322B57;
  color: #fff;
  transition: .3s;
}
.box-7 .cancel:hover{
  background-color: #322b57bf;
  cursor: pointer;
}
.box-7 .confirm{
  padding: 9px 15px;
  text-decoration: none;
  border: 2px solid#0DA1A1;
  background-color: #0DA1A1;
  color: #fff;
  transition: .3s;
}
.box-7 .confirm:hover{
  background-color: rgba(91, 194, 194, 0.675);
  cursor: pointer;
}







.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.header h4{
  font-size: small;
}
main{
  margin: 70px 120px;
  color:#FDFCFF;
} 
main  h5{
  color: #7aa3b99b;
  font-size: 12px;
}
main p{
  margin: 290px 20px;
}
@media(max-width: 760px){
  .left{
    display: none;
  }
  .left,.right{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .box-1 input{
    margin: 0 -30px;
  }
  .box-2 input{
    margin: 0 -30px;
  }
  .box-3,.gender{
    display:block;
  }
  .gender input{
    display: block;
  }
  .box-4 input{
    margin-top: 12px;
  }
  .box-5 input{
    margin: 0 -30px;
    margin-top: 12px;
  }
  .box-6 label{
    display: block;
  }
  .box-6 a{
    margin: 30px;
  }
   .box-7 .cancel{
   margin: 0 -1px; 
  }
  .box-7 .confirm{
    line-height: 120px;
  }
  body{
    background: #0DA1A1;
  }
}


